* {
    box-sizing: border-box;
}

.navbar {
    height: 55px;
}

.container {
    margin-top: 0;
    padding: 0;
}

.jumbotron {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    margin-top: 20px;
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 1rem;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

}

.display-4 {
    font-weight: 400;
    line-height: 1.2;
}

.card-img-top {
    height: 170px;
}

.card-footer {
    width: 100%;
}
.card-body {
    padding: 0;
}

.card-title {
    margin-bottom: 0;
}

.card-title, .card-text {
    padding: 0.7rem;
}

.footer {
    margin-top: 30px;
    height: 30px;
}
